<div class="titlee">
<h1>Welcome to {{username}}'s profile</h1>
</div>

<div class="box-form">
    <div class="card" style="width: 30rem;">

        <div class="card-header">
            <label for="username">Username</label>
            <p>{{username}}</p>

        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label class="label" for="email">E-mail</label>
                <p>{{email}}</p>
            </li>

            <li class="list-group-item">
                <label for="formFile" class="form-label">Profile picture</label>
                <img id="profileImg" src="{{profileImg}}">
            </li>

            <li class="list-group-item">
                <label class="label" for="description">Status</label><br>
                <p>{{description}}</p>

            </li>

        </ul>
    </div>
</div>

<div class="profile-submit-buttons">
    <hr>
    
        {{#if isOwn}}
        {{#unless isAdmin}}
        <a href="/user/{{id}}/edit" class="submit-btn btn btn-lg btn-warning edit">Edit profile</a>
        {{/unless}}
        {{/if}}

        {{#if isAdmin}}
        <a href="/{{id}}/delete" class="submit-btn btn btn-lg btn-warning edit">Delete profile</a>
        {{/if}}
    
    <br><br>
    <a class="submit-btn btn btn-lg btn-warning edit" href="/">Back</a>
</div>

</form>