<div class="titlee">
<h1>Edit your profile</h1>
</div>

<form action="/user/{{_id}}/edit" method="POST">

<div class="box-form">

    <div class="card" style="width: 30rem;">
        <div class="card-header">
            <label for="username">Username</label>
            <input id="username" class="input-field" type="text" name='username' value="{{username}}" required>

        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label class="label" for="email">E-mail</label>
                <input id="email" class="input-field" type="email" name='email' value="{{email}}" required>
            </li>
            <li class="list-group-item">
                <label for="passwordOld" class="label">Password</label>
                <input id="passwordOld" class="input-field" type="password" name='oldPwd'
                    placeholder="Enter your password" placeholder="Choose a new password" required>
            </li>

            <li class="list-group-item">
                <label for="password1" class="label">New password</label>
                <input id="password1" class="input-field" type="password" name='newPwd1'
                    placeholder="Choose a new password" required>
            </li>

            <li class="list-group-item">
                <label class="label" for="password2">Confirm new password</label>
                <input id="password2" class="input-field" type="password" name='newPwd2'
                    placeholder="Confirm the new password" required>
            </li>


            <li class="list-group-item">
                <label for="formFile" class="form-label">Upload a profile picture</label>
                <input name="imgFile" class="form-control" type="file" id="formFile">
            </li>

            <li class="list-group-item">
                <label class="label" for="description">Status</label><br>
                <textarea id="description" name='description' value="{{description}}"></textarea>

            </li>

        </ul>
    </div>

</div>

<div class="profile-submit-buttons">
        <div>
        <button class="submit-btn btn btn-lg btn-warning edit" type="submit" >Save changes</button>
        </div>
        
    <br><br>
    <a class="submit-btn btn btn-lg btn-warning edit" href="/">Back</a>
</div>
</form>

{{#if errorMessage}}
<div id="errorMessage">
    <p>{{errorMessage}}</p>
</div>
{{/if}}