<h1>LISTA DE USUARIOS</h1>

<ul class="row">

    {{#each users}}

    <li class=" col-md-3 card text-center text-dark bg-light mb-3">
        <img src={{profileImg}} class=" card-img-top" alt="{{username}} Pic">
        <div class="card-body">
            <h5 class="card-title">{{username}}</h5>

            <a href="user/{{id}}" class="btn btn-primary btn-dark">Profile details</a>
        
        </div>

    </li>
    {{/each}}

</ul>

<a href="/">BACK</a>

{{#if errorMessage}}
<div id="errorMessage">
    <p>{{errorMessage}}</p>
</div>
{{/if}}